header, footer {
  text-align: center;
}

header {
  font-family: 'IM Fell Great Primer SC', serif;
  font-size: 1.2em;
}

.carousel {
  text-align: center;
  margin-top: 30px;
}

.carouselItem {
  font-family: 'IM Fell Great Primer SC', serif;
  font-size: 1.4em;
}

body {
  background-color: #ece5d5;
}

footer, nav {
  background-color:  #ffffff;
  margin: 20px 0px 20px 0px;
  padding: 10px 0px 10px 0px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: #b89e61;
}

.jumbotron {
  background-color:  #ffffff;
}

nav a:hover {
  font-weight: bold;
}

nav .fa:hover {
  font-size: 1.2em;
}

nav a:visited {
  color: #6a582f;
}

nav a:active {
  text-decoration: none;
}

nav a {
  padding: 20px;
  display: block;
  float: left;
}

nav .btn {
  background-color: #dfd4b9;
  color: #000;
  margin: 0px 5px 0px 5px;
}

.clear-float {
    clear:both;
}
