header, footer {
  text-align: center;
}

header {
  padding: 5px 0px 5px 0px;
  font-family: 'IM Fell Great Primer SC', serif;
  font-size: 1.2em;
}

footer {
  margin-top: 75px;
}

body {
  background-color: #ece5d5;
}

footer, nav {
  background-color:  #ffffff;
}

.jumbotron {
  background-color:  #ffffff;
}

nav a:hover {
  font-weight: bold;
}

nav a:visited {
  color: red;
}

nav a:active {
  text-decoration: none;
}

nav a {
  padding: 20px;
  display: block;
  float: left;
}

nav .btn {
  background-color: #dfd4b9;
  color: #000;
  margin: 0px 5px 0px 5px;
}

.clear-float {
    clear:both;
}
